h1{
    text-align: center;
}
.imgContainer{
display: flex;
justify-content: center;
}

.img{
    margin-left: 10px;
}

.img:hover p{
    opacity: 1;
}

p{
    text-align: center;
    font-size: 20px;
    opacity: 0;
}